* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

@font-face {
    font-family: 'Aller';
    src: url(typo/Aller_Rg.ttf) format("truetype"),
        url(typo/Aller_Bd.ttf) format("truetype"),
        url(typo/Aller_BdIt.ttf) format("truetype"),
        url(typo/Aller_It.ttf) format("truetype"),
        url(typo/Aller_Lt.ttf) format("truetype"),
        url(typo/Aller_LtIt.ttf) format("truetype");
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    background-color: #000;
}

body {
    font-family:'Aller', "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    background-color: rgb(243, 227, 207);
    background-image: url(img/background_test.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: bisque;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.bloc_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
    font-size: 1.4rem;
    background-repeat: repeat;
    
}

header {
    background-color: #5e654a;
    border-radius: 0px 0px 30px 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
    padding: 1.5rem;
    border: 0.5rem #c89d65;
    border-style: none none solid;
    box-shadow: 10px 5px 100px black;
}

.titre {
    font-size: xx-large;
    color: beige;
    transition: 0.3s;
}

header a:link {
    color: beige;

}

header a:hover {
    color: rgb(250, 234, 215,0.8);
}

header img {
    border: 0.4rem solid #c89d65;
    background-color: rgb(250, 234, 215);
    border-radius: 50% 50%;

}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(245, 245, 220, 0.75);
    color: #5e654a;
    width: 70%;
    border: 0.3rem solid #5e654a;
    border-radius: 20px;
    box-shadow: 10px 5px 100px black;

}

a {
    color: #5e654a;
    transition: 0.3s;
}

 a:link {
    color: #5e654a;

}

a:hover {
    color: #c89d65;
}

.présentation {
    display: flex;
    padding: 5rem 0 2rem;
    justify-content: space-around;
    font-size: large;
}

.présentation img{
    border: 0.3rem solid #5e654a;
    border-radius: 20px;
}

.activité{
    display: flex;
    justify-content: space-around;
    padding: 2vh 0 2rem ;
}

.activité div{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #5e654a;
    height: 200px;
    width: 200px;
    border: 0.3rem solid #c89d65;
    border-radius: 50%;
    color: #c89d65;
    box-shadow: 5px 2px 20px black;
    text-shadow: 5px 2px 20px #c89d65;
}

.activité__nom a {
    color: rgb(255, 194, 119);
    transform: 0.3;
}

.activité__nom a:link{
    color: rgb(255, 194, 119);
}

.activité__nom a:hover{
    color: rgba(255, 194, 119, 0.534);
    text-shadow: 10px 5px 40px #c89d65;
}

.rétrop{
    padding: 5rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.avis{
    display: flex;
    justify-content: space-around;
}

.avis__text{
    margin: 2rem 0 0 0;
    padding: 2.2rem 1.5rem 1.5rem 1.5rem;
    background-color: beige;
    border: 0.3rem solid #5e654a;
    border-radius: 20px;
    box-shadow: 5px 5px 20px black;
}

.avis__text h3{
    padding-bottom: 2rem;
}

.contact{
    text-align: center;
    align-items: center;
    padding: 5rem 0 2rem 0;
}

.contact__lien{
    display: flex;
    justify-content: space-around;
    margin: 2rem 0 3rem;
}

.contact__lien div{
    display: flex;
    flex-direction: column;
    font-size: medium;
}

footer {
    margin-top: 5rem ;
    background-color: #000;
    text-align: center;
    color: rgb(255, 255, 255);
    width: 100%;
    padding: 2rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer a {
    color: bisque;
    transition: 0.3s;
}

footer a:link {
    color: bisque;

}

footer a:hover {
    color: rgb(145, 129, 111);
}

.social__list {
    display: flex;
    flex-direction: column;
}


body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {

    background-color: #5e654a;
}

body::-webkit-scrollbar-thumb {
    background-color: bisque; /* color of the scroll thumb */
    border: 0.2rem solid #c89d65;
    border-radius: 20px; /* roundness of the scroll thumb */
}

@media screen and (max-width : 767px ) {

   
    header{
        justify-content: center;
        align-items: center;
    }

    header img {
        border: 0.2rem solid #c89d65;
        width: 10%;
    }
    
    .titre {
       display: none;
    }

    section{
        width: 90%;

    }
    
    .presentation__text{
        margin: 0 1rem 0 1rem;
    }

    .activité div{
        height: 130px;
        width: 130px;
    }

    .avis {
        display: block;
    }
    
    .avis__text{
        margin: 2rem 3rem 2rem 3rem ;
    }

    .contact__lien{
        justify-content: space-around;
    }

    .présentation img {
        width: 30%;
    }

}