* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

@font-face {
    font-family: 'Aller';
    src: url(typo/Aller_Rg.ttf) format("truetype"),
        url(typo/Aller_Bd.ttf) format("truetype"),
        url(typo/Aller_BdIt.ttf) format("truetype"),
        url(typo/Aller_It.ttf) format("truetype"),
        url(typo/Aller_Lt.ttf) format("truetype"),
        url(typo/Aller_LtIt.ttf) format("truetype");
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;

}

body {
    font-family:'Aller', "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    background-color: rgb(243, 227, 207);
    background-image: url(img/background_test.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: bisque;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

a {
    color: bisque;
    transition: 0.3s;
}

a:link {
    color: bisque;

}

a:hover {
    color: rgb(145, 129, 111);
}

.bloc_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
    font-size: 1.4rem;
    background-repeat: repeat;
    
}

header {
    background-color: #5e654a;
    border-radius: 0px 0px 30px 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
    padding: 1.5rem;
    border: 0.5rem #c89d65;
    border-style: none none solid;
    box-shadow: 10px 5px 100px black;
}

header a {
    font-size: xx-large;
}

header img {
    border: 0.4rem solid #c89d65;
    background-color: rgb(243, 227, 207);
    border-radius: 50% 50%;

}

section {
    display: flex;
    color: red;
    justify-content: center;
    background-color: bisque;
    width: 70%;
    border: 0.3rem solid #5e654a;
    border-radius: 20px;
    box-shadow: 10px 5px 100px black;

}

.présentation {
    display: flex;

}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 50px;
    height: 50px;
    background-color: #000;
    text-align: center;
    color: rgb(255, 255, 255);
    width: 100%;
    padding: 2%;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-around;
}

.social__list {
    display: flex;
    flex-direction: column;
}